@use "../abstracts";

html {
    --text-color: #1a162e;
    --icon-color: brightness(0) saturate(100%) invert(9%) sepia(16%) saturate(2014%) hue-rotate(210deg) brightness(90%)
        contrast(98%);

    --body-bg: #f6f6f6;
    --header-bg-color: #eee;
    --footer-bg-color: var(--header-bg-color);

    --top-act-group-bg-color: #fff;
    --top-act-group-shadow: rgba(237, 237, 246, 0.2);
    --top-act-group-separate: #ededf6;

    @include abstracts.screen(lg) {
        --header-bg-color: #fff;
        --header-shadow-color: rgba(237, 237, 246, 0.2);
    }

    // DROP DOWN
    --dropdown-bg-color: #fff;
    --dropdown-shadow-color: rgba(200, 200, 200, 0.4);

    --top-menu-border-color: #d2d1d6;

    // SIDEBAR
    --sidebar-bg: #fff;
    --sidebar-shadow: rgba(200, 200, 200, 0.4);

    // CATEGORY ITEM
    --cate-item-bg: #eee;
    --cate-item-thumb-bg: #fff;
    --cate-item-title-color: #000;

    @include abstracts.screen(md) {
        --cate-item-bg: #fff;
    }

    // FILTER BUTTON
    --filter-btn-color: #6c6c72;
    --filter-btn-bg: #fff;

    // PRODUCT CARD
    --product-card-bg: #fff;
    --product-card-shadow: rgba(237, 237, 246, 0.2);

    // Like BTN
    --like-btn-shadow: rgba(124, 124, 124, 0.2);

    // FILTER FORM
    --filter-form-bg: #fff;
    --filter-form-shadow: rgba(200, 200, 200, 0.4);
    --form-tag-bg: #f8f8fb;

    // AUTH SIGN UP
    --auth-content-bg: #fff;
    @include abstracts.screen(md) {
        --auth-intro-bg: #fff;
    }

    // FORM
    --form-placeholder-color: #d2d1d6;

    // PRODUCT-DETAIL
    --product-detail-bg: #fff;
    --product-detail-info-bg: #f6f6f6;
    --product-detail-info-content-bg: #fff;
    --product-detail-tag-bg: #ededf6;

    @include abstracts.screen(md) {
        --product-detail-bg: #fafafd;
        --product-detail-info-bg: #fff;
    }

    // BREADCRUMB
    --breadcrumb-bg-color: #f6f6f6;
    --breadcrumb-shadow-bg: rgba(237, 237, 246, 0.2);
    @include abstracts.screen(md) {
        --breadcrumb-bg-color: #fff;
    }

    // SEARCH-BAR
    --search-bar-bg: #fff;

    // REVIEW CARD
    --review-card-bg: #fafafd;

    // TEXT-CONTENT
    --text-content-hr-bg: #ebebeb;
}
